*{
    padding:0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  body
  {   
    font-family: montserrat;
      width:1300px;
      height:700px;
      background-color:rgb(214, 195, 219);
      margin:10px auto;
      background-size:cover;
      background-image: url("");
  }
    nav{
      background:#0082e6;
    height:80px;
    width:100%;
   }
  
  label.logo{
     color:whitesmoke;
     font-size:35px;
     line-height:80px;
     padding: 0 100px;
     font-weight:bold;
  }
  nav ul{
     float: right;
     margin-right: 20px;
  }
  nav ul li{
     display: inline-block;
     line-height:80px;
     margin-right:0 5px;
  }
  nav ul li a{
       color:white;
       font-size:17px;
       padding:7px 13px;
       border-radius:3px;
       text-transform:uppercase;
  
  }
  a.active,a:hover{
    background:#1b9bff;
    transition: .5s;
  }
  
  
  h1{
    text-align: center;
  }
  .card{
    width:200px;
    height:200px;
    border:2px solid black;
    display: inline-block;
    margin:10px;
    border-radius:5px;
    box-shadow:0 4px 8px black;
    transition:1s;
  }
  .desc{
    padding:0 2px 0 2px;
  }
  
  .card:hover{
    box-shadow:0 8px 16px goldenrod;
  }
  img{
    width:100%;
    height:40%;
    border-radius: 5px 5px 0 0;
  }
  .checkbtn{
    font-size:30px;
    color:white;
  }
  .checkbtn{
    font-size:30px;
    color:white;
    float:right;
    line-height:80px;
    margin-right:40px;
    cursor:pointer;
    display:non;
  
  }
  #check{
    display:none;
  
  }
  @media(max-width:952px){
    label.logo{
      font-size:30px;
      padding-left:50px;
  
    }
    nav ul li a{
      font-size: 16px;
    }
  }
  @media(max-width:858px){
    .checkbtn{
      display:block;
    }
    ul{
      position:fixed;
      width:100%;
      height:100vh;
      background:#2c3e50;
      top:80px;
      left:-100;
      text-align:center;
      transition:all .5s;
    }
    nav ul li{
      display:block;
      margin:50px 0;
      line-height:30px;
    }
    nav ul li a{
      font-size:20px;
    }
    a:hover,a.active{
      background:none;
      color:#0082e6;
    }
    #check:checked:ul{
      left: 0;
  
    }
  }